html {
    min-height: 100%;
    overflow-y: scroll;
    scrollbar-color: white #333344;
}
body {
    background: #333344;
    margin: 20px;
    color: #eee;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 16px;
    overflow: auto;
    text-align: center;
}
a {
    color: inherit;
    text-decoration: underline;
}
.emphasized-section {
    background-color: #223;
    margin: 20px -20px;
    padding: 20px;
    border-radius: 8px;
}
#canvas-wrapper {
    position: relative;
    width: 1001px;
    margin: 0 auto;
}
canvas {
    display: block;
    border-radius: 8px;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.molecule-canvas {
    background-color: #223;
}
.canvas-button {
    position: absolute;
}
.canvas-button > a {
    background-color: #2a2a3b;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
}
.canvas-button > a:hover {
    background-color: #282838;
}
.canvas-button#clear {
    top: 25px;
    right: 25px;
}
.canvas-button#permalink {
    bottom: 25px;
    right: 25px;
}
p#error {
    font-weight: bold;
}
h2 {
    color: #eee;
    font-size: 16px;
    margin: 8px;
    text-align: center;
}
main {
    display: inline-flex;
    flex-wrap: wrap;
}
main > div {
    margin: 0 10px;
}
.muted {
    color: #bbbbc2;
}

@media (prefers-color-scheme: light) {
    html {
        scrollbar-color: black #bbbbcc;
    }
    body {
        background: #bbbbcc;
        color: #111;
    }
    .emphasized-section {
        background-color: #ccd;
    }
    .canvas-button > a {
        background-color: #c4c4d5;
    }
    .canvas-button > a:hover {
        background-color: #d0d0e0;
    }
    h2 {
        color: #111;
    }
    .muted {
        color: #445;
    }
}
